$blackBlueText: rgba(39, 76, 91, 1);
$yellowBtn: rgba(239, 211, 114, 1);
$greenText: rgba(104, 164, 127, 1);
$whiteText: rgba(255, 255, 255, 1);
$grayText: rgba(82, 92, 96, 1);
$grayBack: rgba(249, 248, 248, 1);
$blackBlueBtn: rgba(39, 76, 91, 1);